@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

@font-face {
    font-family: "Press Start 2P";
    src: url(./font/PressStart2P-Regular.ttf);
}

body, html {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-image: url(./img/menu.jpg);
    background-size: 100% 100%;
    background-position: center;
    /*-comment- ban user-select */
    user-select: none;
    overflow: hidden;
}

.scene {
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: 100% 100%;
}

.live {
    width: 150px;
    height: 10px;
    border: solid;
    border-radius: 10px;
    background-color: grey;
}

.line {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: red;
    display: flex;
    justify-content: center;
    font-size: 10px;
}

.live-player {
    width: 300px;
    height: 20px;
    border: solid;
    border-radius: 25px;
    background-color: grey;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

#lineBlue {
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.boxbot {
    width: 160px;
    height: 240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
    gap: 10px;
}

#gun {
    position: absolute;
    bottom: 0;
}

.bot-anim {
    position: absolute;
    left: 58%;
    top: 40%;
    animation: 6s lol alternate;
    animation-fill-mode: forwards, forwards;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.01, 0, 0.97, 0.98);
}

@keyframes lol {
    0% {
        left: 58%;
    }
    50% {
        left: 26%;
    }
    100% {
        left: 58%;
    }
}

.bot-duck {
    height: 210px;
    position: relative;
    top: 0%;
    animation: 0.5s duck alternate;
    animation-fill-mode: forwards, forwards;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.01, 0, 0.97, 0.98);
}

@keyframes duck {
    0% {
        top: 0%;
    }
    50% {
        top: 5%;
    }
    100% {
        top: 0%;
    }
}

a {
    text-decoration: none;
}

#imgfon {
    width: 100%;
    height: 100%;
    position: absolute;
}

#endgame {
    display: none;
    z-index: 20;
}

.textfon {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.573);
    display: flex;
    justify-content: center;
    align-items: center;
}

#textstart {
    width: 500px;
    height: 190px;
    border: 4px solid rgb(155, 197, 18);
    background-color: rgba(71, 71, 71, 0.548);
    color: rgb(222, 255, 5);
    text-align: center;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
    padding-top: 90px;
}

#box {
    width: 180px;
    height: 180px;
    color: rgb(206, 206, 206);
    font-size: 30px;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.inbox {
    color: rgb(206, 206, 206);
}

.inbox:hover {
    color: rgb(167, 167, 167);
}

#scene {
    cursor:  url(./img/aimgreen.png) 0 0, default;
}

.blood {
    animation: 0.5s bloo alternate, forwards, forwards;
}

@keyframes bloo {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fire {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 200px;
    z-index: 0;
    animation: 0.1s aim alternate, forwards;
}

@keyframes aim {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.menuWeapon {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
}

.radar {
    width: 90px;
    height: 90px;
    position: absolute;
    bottom: 70px;
    right: 20px;
}

#digl1 {
    border: solid rgb(81, 255, 0);
}

.inmenu-weapon {
    width: 100px;
    height: 60px;
    border: solid;
}

.menuText {
    width: 600px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    border: solid;
}

.inmenu-text {
    width: 100px;
    height: 70px;
    border: solid 2px rgba(0, 0, 0, 0.288);
    padding-left: 2px;
    padding-right: 2px;
}

.livebot {
    width: 300px;
    height: 20px;
    border: 4px solid black;
    background-color: rgb(195, 194, 194);
    border-radius: 30px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.bgred {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.136);
}

#textend {
    width: 500px;
    height: 190px;
    border: 4px solid rgb(155, 197, 18);
    background-color: rgba(71, 71, 71, 0.548);
    color: rgb(222, 255, 5);
    text-align: center;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

#endgame {
    cursor:  url(./img/aimgreen.png) 0 0, default;
}

img{
    /*-comment- ban drag & drop */
    -webkit-user-drag: none; 
}
.muteButton{
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 25px;
    top: 25px;
    z-index: 1000;
}
.material-icons{
    color: rgb(247, 243, 0);
    text-shadow:0 0 20px rgb(243, 7, 153);
    cursor: pointer;
}


#sceneload {
    width: 100%;
    height: 100%;
    background-color: black;
    animation: 5s load alternate;
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
}

@keyframes load {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

#load {
    width: 500px;
    height: 150px;
    border: 2px solid rgb(155, 197, 18);
    background-color: rgb(50, 112, 50);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 25;
}

#loading {
    width: 90%;
    height: 30%;
    background-color: grey;
    border: 2px solid grey;
}

#loadline {
    width: 100%;
    height: 100%;
    background-color: rgb(182, 206, 25);
    animation: 5s loadingline;
}

@keyframes loadingline {
    0% {
        width: 0%;
    }
    7% {
        width: 7%;
    }
    21% {
        width: 21%;
    }
    30% {
        width: 30%;
    }
    35% {
        width: 35%;
    }
    50% {
        width: 50%;
    }
    80% {
        width: 80%;
    }
    85% {
        width: 85%;
    }
    88% {
        width: 88%;
    }
    94% {
        width: 94%;
    }
    99% {
        width: 94%;
    }
}

.box_out{
    font-family: 'Orbitron', sans-serif;
    display: flex;
    flex-direction: row;
    gap: 2%;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.box_in{
    white-space: nowrap;
    height: fit-content;
    align-items: center;
    color: rgb(247, 243, 0);
    text-shadow:0 0 20px rgb(243, 7, 153);
}

#counter1::before{
    content: 'SHOTS : ';
    margin-bottom: 100px;
}
#counter2::before{
    content: 'HIT : ';
    margin-bottom: 100px;
}
#counter3::before{
    content: 'FRAG : ';
    margin-bottom: 100px;
}