html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}
.wrapper{
    background-size: cover;
    position: relative;
}

.enemy{
    width: 100px;
    height: 30px;
    margin: 5px;
    /* background: red; */
    /* position: absolute; */
    /* left: 10px; */
    /* top: 10px; */
}
.hero{
    width: 100px;
    height: 50px;
    /* background: grey; */
    position: absolute;
    left: 10px;
    top: 300px;
}
label{
    width: 150px;
    height: 300px;
    position: absolute;
    background-size: cover;
    background-image: url('../.././img/bot1.png');
}
